.actions {
	.action {
		display inline-block
		a {
			display inline-block
			margin 5px 5px 0 0
			padding 10px
			background-color #444
			transition all 200ms ease
			color white
			font-weight bold
			&:hover {
				background-color $link_color
				color #585858
			}
		}
	}
}