@import "iconfont/gb_iconfont"
@import "variables_overwrite"

// @import "../../../ssg/src/stylus"  //useful when developing the ssg core and it is installed in a sibling folder
@import "../../bower_components/gbif-ssg/bower_build/stylus"

@import "main"



